<div class="col-xs-12 col-sm-4" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
    <div id="contact-card" class="card">
        <div class="card-body">
            <h1 class="card-title"> Contact Me </h1>
            <hr>
            <h4>Full Name:</h4>
            <p>Nicholas Taylor Herrick<br><span> <small>(I go by Nick)</small></span></p>
            <h4>Email:</h4>
            <p><a href="mailto:nth.herrick@gmail.com">nth.herrick@gmail.com</a></p>
            <h4>Phone:</h4>
            <p><a href="tel:720-299-9354">720-295-7470</a></p>
            <h4>Resume:</h4>
            <p><a href="/assets/documents/nicholas_herrick_resume_2019.pdf" download>Click Here</a> to Download
            </p>
            <h4>GitHub</h4>
            <p><a href="https://github.com/nicholasherrick" target="_blank">GitHub Page</a></p>
            <h4>LinkedIn</h4>
            <p><a href="https://www.linkedin.com/in/nicholas-herrick-5366758a/" target="_blank">LinkedIn Page</a></p>
        </div>
    </div>
</div>