<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #CD7F32;" data-aos="fade-down">
    <a class="navbar-brand" href="/"><i class="fas fa-terminal"></i>NicholasHerrick.dev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/web-development" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Web Development</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/web-development/front-end">Front End</a>
                        <a class="dropdown-item" href="/web-development/back-end">Back End</a>
                        <a class="dropdown-item" href="/web-development/ui-ux">UI/UX</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/web-development">Web Development</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/other-skills">Other Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" data-toggle="tooltip" data-placement="bottom" title="View my Github profile"
                href="https://github.com/nicholasherrick"><i class="fab fa-github-square"></i></a>
            <a class="nav-item nav-link" data-toggle="tooltip" data-placement="bottom" title="View my LinkedIn profile"
                href="https://www.linkedin.com/in/nicholasherrick-dev/"><i class="fab fa-linkedin"></i></a>
            <a class="nav-item nav-link" data-toggle="tooltip" data-placement="bottom" title="View my Twitter page"
                href="/about"><i class="fab fa-twitter-square"></i></a>
            <a class="nav-item nav-link" data-toggle="tooltip" data-placement="bottom" title="Reach me by Phone"
                href="tel:720-295-7470"><i class="fas fa-phone-square"></i></a>
            <a class="nav-item nav-link" data-toggle="tooltip" data-placement="bottom" title="Send me an Email"
                href="mailto:nth.herrick@gmail.com"><i class="fas fa-at"></i></a>
            <a class="nav-item nav-link" data-toggle="tooltip" data-placement="bottom" title="Download my Resume"
                href="/docs/nicholas_herrick_resume_2019.pdf"><i class="fas fa-file-download"></i></a>
        </div>
    </div>
</nav>