{{> nav-block}}
<div class="container">
    <div class="row">
        <div class="col-12 text-center title-text" data-aos="fade-left">
            <h1 id="welcome">Welcome to NicholasHerrick.dev</h1>
            <h2 id="under-welcome">I'm a Full Stack Web Developer based in Denver, Colorado.</h2>
        </div>
    </div>
</div>
<div class="container" data-aos="zoom-in" data-aos-duration="1500">
    <div class="row">
        <div class="col-10 mx-auto">
            <img id="nick-image" src="/img/nick.jpg" alt="Image not found" class="img-fluid rounded-circle">
            <h3>Nicholas Herrick — Full Stack Web Developer</h3>
            <hr>
            <p>I'm a Web Developer advancing from a traveling career in healthcare. Newly certified in Full Stack Web Development from the University of Denver. Skills include html/css, javascript, Node.js, Express.js, MySQL, Mongodb, etc. Knowledgeable in UI/UX design principles in order to create user friendly, responsive mobile-first web pages. Coding apps in group projects has taught me the importance of writing clear, easy to understand code using an organized and uniform process. I've always been known as a conscientious and open minded employee that works well with others. I'm excited to utilize my experience traveling the country and adhering to the most rigid of healthcare standards in a developer role.</p>
            <a id="contact-me-button" href="/contact"><button type="button" class="btn btn-primary">Contact
                    Me</button></a>
        </div>
    </div>
</div>
{{> footer-block}}