<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <div id="login-card" class="card" style="width: 18rem;">
                <form>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="username">Username</label>
                            <input type="text" class="form-control mb-2" id="username" placeholder="Username">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="password">Password</label>
                            <div class="input-group mb-2">
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-auto">
                            <button id="login-button" type="button" class="btn btn-primary mb-2">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{> scripts-block}}