{{> nav-block}}
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center title-text" data-aos="fade-left">
        <h1 id="welcome">Welcome to NicholasHerrick.dev</h1>
        <h2 id="under-welcome">I'm a Full Stack Web Developer based in Denver, Colorado.</h2>
      </div>
    </div>
  </div>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-aos="flip-up"
    data-aos-duration="1500">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/igor-miske-Px3iBXV-4TU-unsplash.jpg" class="d-block w-100 image" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <a class="text-decoration-none" href="/web-development/front-end">
            <h5 class="carousel-title text-white

">Front End</h5>
          </a>
          <p class="carousel-desc">Jquery, Bootstrap</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/dlanor-s-2xEQDxB0ss4-unsplash.jpg" class="d-block w-100 image" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <a class="text-decoration-none" href="/web-development/back-end">
            <h5 class="carousel-title text-white

">Back End</h5>
          </a class="text-decoration-none">
          <p class="carousel-desc">Nodejs Servers, MySql Databases</p class="carousel-desc">
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/paul-hanaoka-HbyYFFokvm0-unsplash.jpg" class="d-block w-100 image" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <a class="text-decoration-none" href="/web-development/ui-ux">
            <h5 class="carousel-title text-white

">UI/UX</h5>
          </a class="text-decoration-none">
          <p class="carousel-desc">Mobile First, Responsive</p class="carousel-desc">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container align-content-between flex-wrap border-box">
  <div class="row">
    <div class="col-xs-12 col-sm-8" data-aos="flip-right" data-aos-easing="ease-out-cubic"
      data-aos-duration="1500">
      <h1>Who Am I?</h1>
      <hr>
      <p>Hi! I'm Nick, welcome to my website created by me. I'm a full stack web developer from Denver, Colorado. I started coding in 2019 after enrolling in a coding boot camp program through the University of Denver. You can see my code over on my <a href="https://github.com/nicholasherrick" target="_blank">GitHub</a> page. Head over to my portfolio tab to see some of my finished projects. For my resume and everything you need to reach me, head to my contact page. I will keep this site constantly updated with my latest projects, skills, resume, relevant links and everything an anything related to my life as a developer.</p>
    </div>
      <figure data-aos="zoom-in" data-aos-duration="1500">
        <img id="nick-daisy" class="img-fluid rounded mx-auto d-block" src="/img/nickdaisy.jpg">
        <figcaption>My girlfriend Daisy (left) and Me</figcaption>
      </figure>
    {{> contact-card-block}}
  </div>
</div>

{{> footer-block}}