{{> nav-block}}
<div class="container">
    <div class="row">
        <div class="col-12 text-center title-text" data-aos="fade-left">
            <h1 id="welcome">Welcome to NicholasHerrick.dev</h1>
            <h2 id="under-welcome">I'm a Full Stack Web Developer based in Denver, Colorado.</h2>
        </div>
    </div>
    <h1>UI/UX in Web Development</h1>
    <hr>
    <h3>Overview</h3>
    <p>In web development, UI stands for "User Interface" and UX stands for "User Experience," two critical components of web design. While they sound similar and are often lumped into the same category, it's important to know the difference between the two. User interface (UI) refers to the overall look and feel of an application, as well as the presentation and the interactivity. User experience (UX) refers to any and all interaction a user has with an application or service. A good UX design considers each and every element or component that shapes the experience. How it makes the user feel, and how easy it is for them to accomplish their desired tasks.</p>
    <img class="img-fluid rounded" src="/img/william-iven-2mc2B5iX6as-unsplash.jpg">
</div>
{{> footer-block}}