{{> nav-block}}
<div class="container">
    <div class="row">
        <div class="col-12 text-center title-text" data-aos="fade-left">
            <h1 id="welcome">Welcome to NicholasHerrick.dev</h1>
            <h2 id="under-welcome">I'm a Full Stack Web Developer based in Denver, Colorado.</h2>
        </div>
    </div>
</div>
<div class="container align-content-between flex-wrap border-box" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
    <div class="row">
        <div id="contact-content" class="col-xs-12 col-sm-8">
            <h1>Web Development</h1>
            <hr>
            <h3>Overview</h3>
            <p>Work as a devolper covers a multitude of skills and technologies. Here's what I can do:</p>
            <hr>
            <div id="web-dev-lists" class="row">
                <div class="col-4">
                    <h4 class="dev-category-title">Programming Languages:</h4>
                    <ul>
                        <li><i class="fab fa-html5 fa-2x"></i> HTML5</li>
                        <li><i class="fab fa-css3-alt fa-2x"></i> CSS3</li>
                        <li><i class="fab fa-js fa-2x"></i> Javascript</li>
                        <li><i class="fab fa-php fa-2x"></i> Php</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h4 class="dev-category-title">Frameworks:</h4>
                    <ul>
                        <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
                        <li><a href="https://tailwindcss.com/">Tailwind</a></li>
                        <li><a href="https://jquery.com/">JQuery</a></li>
                        <li><a href="https://momentjs.com/">MomentJs</a></li>
                        <li><a href="https://expressjs.com/">ExpressJs</a></li>
                        <li><a href="https://handlebarsjs.com/">HandlebarsJs</a></li>
                        <li><a href="http://www.passportjs.org/">PassportJs</a></li>
                        <li><a href="https://www.npmjs.com/package/cron">Cron</a></li>
                        <li><a href="https://sequelize.org/">Sequelize</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <h4 class="dev-category-title">Technologies:</h4>
                    <ul>
                        <li><a href="https://firebase.google.com/">Firebase</a></li>
                        <li><a href="https://nodejs.org/en/">NodeJs</a></li>
                        <li><a href="https://www.twilio.com/">Twilio</a></li>
                        <li><a href="https://www.mysql.com/">MySQL</a></li>
                        <li><a href="https://www.mongodb.com/">Mongodb</a></li>

                    </ul>
                </div>
            </div>
        </div>
        {{> contact-card-block}}
    </div>
</div>
{{> footer-block}}